<!DOCTYPE html>
<html>
<head>
<!-- <style>
	body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
	h1{font-size: 48px;text-transform: uppercase;text-align: center;letter-spacing: 2px;}
	p{font-size: 16px;text-align: center;}
</style> -->
<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<%- include ('partials/nav.ejs') %>
	<h1>Contact Us!</h1>
	<p>Contact us right here !!!</p>
	<!--
	<p> <strong>department: </strong> <%= qs.dept %> </p>
	<p> <strong>Person Name:</strong> <%= qs.person%> </p>
	-->

	<form id="contact-form" method="POST" action="/contact">
		<label for="who"> Who do you want to contact?</label>
		<input type="text" name="who" value="<%= qs.person %>"><br>
		<label for="department"> Which Department?</label>
		<input type="text" name="department" value="<%= qs.dept %>"><br>
		<label for="email"> Your email?</label>
		<input type="email" name="email"><br>
		<input type="submit" value="submit">
		

	</form>
</body>
</html>
